/* =======UNIVERSAL======= */
/* Variabeln */
/* Farbwahl */

:root {
  --gold: /* #E0AC43 -> Bierfarbe */ #E0AC43;                       /* Invert: #E0AC43 */
  --lightblack: /* #222222 -> hell schwarz */ #222222;				/* Invert: #f2f2f2 */
  --whitegrey: /* #f2f2f2 -> schrift/fast weiß */ #f2f2f2;			/* Invert: #000000 */
  --darkblack: /* #000000 -> schwarz dunkel */ #000000;			/* Invert: #ffffff */
}

/* latin */
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/patuaone/v15/ZXuke1cDvLCKLDcimxB44_lu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: var(--darkblack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
  color: var(--whitegrey);
}

.left {
  text-align: left;
  float: left;
}

.right {
  text-align: right;
  float: right;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: var(--lightblack);
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: var(--gold);	
  color: var(--darkblack);
  height: 200%;
	width: 74%;
  padding: 5% 13%;
	float: left;
}
.foot {
  background-color: var(--gold);
  margin: 3rem;
}
.pay {
	margin-right: 2%;
}

.socialmedia img {
  width: 25%;
	padding-right: 1%;
}
.totop_icon {
	width: 1.5em;
	color: var(--gold);														
	font-size: 3.5em;
	background-color: var(--darkblack);										
	cursor: pointer;
	border-radius: 15px;
  transform: scale(1);
  transition: 0.5s ease-in-out
}
.col-4 {
  width: 29.33%;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  color: var(--whitegrey);
  text-decoration: none;
}
a:hover {
  color: var(--gold);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
button {
  bottom: 0;
  padding: 1%;
  margin-top: 5%;
  font-size: 1.25em;
  background-color: var(--lightblack);											
  cursor: pointer;
  color: var(--whitegrey);	
}
button:hover {
  color: var(--gold);														
  border-color: var(--gold) var(--darkblack) var(--darkblack) var(--gold);
}
button.block {
  width: 100%;
}

/* LINES */

.vertical_line {
  width: 2px;
  height: 100%;
  background: var(--gold);														/* vertikale Gold */

}

.horizontal_line {
  width: 100%;
  height: 2px;
  background: var(--gold);														/* horizontal Gold */
  margin: 4% 0 4% 0;
}


/* Header */
header a {
  color: var(--whitegrey);
  padding: 1rem;
}
a.brand {
  color:var(--whitegrey);
  font-size: 3rem;
  font-weight: bold;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

/* MAINPART HOME*/

.cover {
  margin: 0;
  padding-left: 10%;
  position: relative;
}
.cover img {
  width: 85%;
  display: block;
}
.cover span{
  position: absolute;
  color: var(--whitegrey);
  top: 0;
  margin: 4%;
  font-size: 2em;
  border-color: var(--gold);													/* Spruch Border Oben und Unten Gold */
  border-width: 2px 0;
  border-style: solid;
}
.cover button {
  position: absolute;
  bottom: 0;
  padding: 1%;
  margin: 5%;
  font-size: 1em;
  background-color: var(--lightblack);											/* Durst Button Hellesschwartz */
  cursor: pointer;
  color: var(--whitegrey);														/* Durst Button Schrift Grauweiß */
}
.cover a button:hover {
  color: var(--gold);															/* Hover Button Durst Text Gold */
  border-color: var(--gold) var(--darkblack) var(--darkblack) var(--gold);		/* Hover Button Durst Border Oben und Links Gold */ /* Hover Button Durst Border Unten und Rechts Tiefschwartz */
}
.cover img.cover_icon {
  display: none;
  position: relative;
  width: 40%;
  float: right;
  margin: 27% 15% 15% 0;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* Angebot Card */
.card {
  border: 0.5rem var(--gold);
  border-radius: 0.5rem var(--gold);
  background-color: var(--darkblack);
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

/* Form für regist/login */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}
/* Dropdown menüleiste (anscheinend) */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}