/* =======UNIVERSAL======= */
/* Variabeln */
/* Farbwahl */

:root {
  --gold: /* #E0AC43 -> Bierfarbe */ #E0AC43;                       /* Invert: #E0AC43 */
  --lightblack: /* #222222 -> hell schwarz */ #222222;				/* Invert: #f2f2f2 */
  --whitegrey: /* #f2f2f2 -> schrift/fast weiß */ #f2f2f2;			/* Invert: #000000 */
  --darkblack: /* #000000 -> schwarz dunkel */ #000000;			/* Invert: #ffffff */
}

/* latin */
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/patuaone/v15/ZXuke1cDvLCKLDcimxB44_lu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: 'Patua One';
  background-color: var(--darkblack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
  color: var(--whitegrey);
  font-family: 'Patua One';
}




.left {
  text-align: left;
  float: left;
}

.right {
  text-align: right;
  float: right;
}
/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
  color: var(--darkblack);
}

h4f{
  font-size: 1.125rem;
  color: var(--whitegrey);
}

hkk {
  font-size: 1.125rem;
  font-weight: bold; 
  color: var(--darkblack);
}

hkk:hover {
  font-size: 1.125rem;
  font-weight: bold; 
  color: var(--whitegrey);
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* =======PAGE SPEZIFIC======= */


.container {
  box-sizing: border-box;
  }
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: var(--lightblack);
}

/* MAINPART */

.main {
	width: 100%;
	height: 90%;
	float: left;
	margin-bottom: 2%;
}

.content {
  padding: 5%;
}
.content a {
  text-decoration: none;
}
.content a h2:hover {
  color: var(--gold);															/* Hover bei Klickbare Überschrift Gold */
}
.content h2 {
  margin: 5% 0 10% 0;
  text-decoration: underline;
}


.h_content {
  padding: 2%;
}

.zu_ang a button {
  bottom: 0;
  padding: 1%;
  margin-top: 5%;
  font-size: 1.25em;
  font-family: 'Patua One';
  background-color: var(--lightblack);											/* zu Angebote Buttons Hellesschwartz */
  cursor: pointer;
  color: var(--whitegrey);														/* zu Angebote Buttons Schrift Grauweiß */
}
.zu_ang a button:hover {
  color: var(--gold);															/* Hover Buttons zu Angebote Text Gold */
  border-color: var(--gold) var(--darkblack) var(--darkblack) var(--gold);		/* Hover Buttons zu Angebote Border Oben und Links Gold */ /* Hover Buttons zu Angebote Border Unten und Rechts Tiefschwartz */
}

.tdm a img {
  width: 40%;
  padding: 7% 0 0 25%;
}

.laster img {
  width: 80%;
}

.getraenke img {
  width: 100%;
}

footer {
  grid-area: footer;
  background-color: var(--gold);	
  color: var(--darkblack);
  height: 70%;
	width: 74%;
  padding: 0% 13% 15% 13%;
	float: left;
}
.foot {
  background-color: var(--gold);
  margin: 3rem 3rem 3rem 3rem;
  float: top;
}
.pay {
	margin-right: 2%;
}

.socialmedia img {
  width: 25%;
	padding-right: 1%;
}
.totop_icon {
	width: 1.5em;
	color: var(--gold);														
	font-size: 3.5em;
	background-color: var(--darkblack);										
	cursor: pointer;
	border-radius: 15px;
  transform: scale(1);
  transition: 0.5s ease-in-out
}

/* MAINPART ÜBER UNS */

.imgCenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 80%;
}

.uu_h h2 {
  text-align: center;
  margin: 0 auto 5% auto;
  color: var(--whitegrey);
}

.uu_h h4{
  color: var(--whitegrey);
  text-align: center;
}

.uu_h h4.name {
  color: var(--gold);
  text-align: center;
}

.formimg{
  flex: 1; 
}


.uu_content {
  padding: 2%;
  margin-bottom: 7%;
}
.uu_content img {
  width: 100%;
  margin-top: 4%;
  border-radius: 2%;
}

.uu_h p {
  line-height: 1.5;
  text-align: center;
  padding: 4px;
}


/* MAINPART KONTAKT */

.contact {
  text-align: center;
  padding: 1%;
}

.contact_data{
  padding-left: 10%;
  position: relative;
}
.contact_data img {
  width: 12%;
}
.contact_data a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.25em;
  margin: 0% 0 10% 10%;
}
.contact_data a:hover {
  color: var(--gold);														/* Kontaktdaten Gold */
}

.impressum {
  text-align: center;
  padding: 1%;
}

.team_k {
  padding: 1%;
  text-align: center;
}

/* ==== GRID SYSTEM ==== */
.höhe{
  height: 100vh;
}

.breite{
  width: 20%;
}

.mitte{
  display:block;
  margin: 100px 0 auto 0;
}

.abstand{
  margin-right: 20px;
}

.col-62 {
  width: 29.33%;
  margin-bottom: 100px;
}

.col-0 {
  width: 0.1%;
}

.col-1 {
  width: 4.33%;
}

.col-2 {
  width: 12.66%;
}
.col-3 {
  width: 18%;
}

.col-4 {
  width: 29.33%;
}

.col-5 {
  width: 37.66%;
}

.col-6 {
  width: 46%;
}

.col-7 {
  width: 54.33%;
}

.col-8 {
  width: 62.66%;
}

.col-9 {
  width: 71%;
}

.col-10 {
  width: 79.33%;
}

.col-11 {
  width: 87.66%;
}

.col-12 {
  width: 96%;
}

/* Common */
a {
  color: var(--whitegrey);
  text-decoration: none;
}
a:hover {
  color: var(--gold);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
button {
  bottom: 0;
  padding: 1%;
  margin-top: 5%;
  font-family: 'Patua One';
  font-size: 1.25em;
  background-color: var(--lightblack);											
  cursor: pointer;
  color: var(--whitegrey);	
}
button:hover {
  color: var(--gold);														
  border-color: var(--gold) var(--darkblack) var(--darkblack) var(--gold);
}
button.block {
  width: 100%;
}

/* LINES */
.vertical_line {
  width: 2px;
  height: 100%;
  background: var(--gold);														/* vertikale Gold */

}

.horizontal_line {
  width: 100%;
  height: 2px;
  background: var(--gold);														/* horizontal Gold */
  margin: 4% 0 4% 0;
}

.rowalt {
  position: relative;
  width: 100%;
}

/* Header */
header a {
  color: var(--whitegrey);
  padding: 1rem;
}
a.brand {
  color:var(--whitegrey);
  font-size: 3rem;
  font-weight: bold;
}
a.brand:hover {
  color:var(--gold);
  font-size: 3rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.rowhorizontal_line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: solid 5px var(--gold);														/* horizontal Gold */
  padding-top: 10px;
}
.row.center {
  justify-content: center;
  align-items: top;
}
.row.top {
  align-items: flex-start;
}

/* MAINPART HOME*/

.cover {
  margin: 0;
  padding-left: 10%;
  position: relative;
}
.cover img {
  width: 85%;
  display: block;
}
.cover span{
  position: absolute;
  color: var(--whitegrey);
  top: 0;
  margin: 4%;
  font-size: 2em;
  border-color: var(--gold);													/* Spruch Border Oben und Unten Gold */
  border-width: 2px 0;
  border-style: solid;
}
.cover button {
  position: absolute;
  bottom: 0;
  padding: 1%;
  margin: 5%;
  font-size: 1em;
  background-color: var(--lightblack);											/* Durst Button Hellesschwartz */
  cursor: pointer;
  color: var(--whitegrey);														/* Durst Button Schrift Grauweiß */
}
.cover a button:hover {
  color: var(--gold);															/* Hover Button Durst Text Gold */
  border-color: var(--gold) var(--darkblack) var(--darkblack) var(--gold);		/* Hover Button Durst Border Oben und Links Gold */ /* Hover Button Durst Border Unten und Rechts Tiefschwartz */
}
.cover img.cover_icon {
  display: none;
  position: relative;
  width: 40%;
  float: right;
  margin: 27% 15% 15% 0;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
img.medium {
  max-width: 29rem;
  height: 679px;

}
img.large {
  width: 100%;
}

/* Angebot Card */
.card {
  border: 0.5rem var(--gold);
  border-radius: 0.5rem var(--gold);
  background-color: var(--darkblack);
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}

.card-bodyAng {
  padding: 1rem;
  border-top: solid 1px var(--gold); 
}

.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
  color: var(--gold)
}

.min-30{
  font-size: 2rem;
  color: var(--gold);
}

.badge {
  background-color: var(--gold);
  color: var(--whitegrey);
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.2rem;
  margin-left: 0.35rem;
}

.h2W {
  font-size: 2rem;
  color: var(--darkblack)
}

.h5Prod{
  width: 50%;
}

/* Admin panel*/

.h1Admin{
  margin-left: 10px;
}

.table{
  margin-left: 10px;
}

th{
  color: var(--gold);
  border-color: var(--whitegrey);
  border-bottom: solid 1px;
}

tr{
  border-color: var(--gold);
  border: solid 1px;
}

.primary{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: var(--gold);
}
.alert-danger {
  color: #a02020;
  background-color: var(--gold);
}

/* Form für regist/login */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}
/* Dropdown menüleiste (anscheinend) */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: var(--gold);
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.drophov:hover {
  color: var(--lightblack)
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem var(--whitegrey) solid;
  color: var(--whitegrey);
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: var(--gold);
  color: var(--gold);
}

@media(min-width: 468px) {
  /* MAINPART ÜBER UNS */

  .flex {
  display: flex;
  }
  .flexAngebot{
    display: flex;
    justify-content: center;
  }

  
}